<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dcg.meneame" android:versionName="0.3.1" android:versionCode="14">
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="11"/>
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/Theme.mnm" android:name="com.dcg.app.ApplicationMNM" android:debuggable="false">
		<activity android:label="@string/app_name" android:name="MeneameAPP">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="NewsActivity"></activity>
		<activity android:name="DetailedArticleActivity"></activity>
		<activity android:name="SendStoryActivity">
			<intent-filter>
               <action android:name="android.intent.action.SEND" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="text/plain" />
           </intent-filter>
		</activity>
		<activity android:name="CommentsActivity"></activity>
		<activity android:name="QueueActivity"></activity>
		<activity android:name="Preferences" android:label="@string/app_pref_name"
			android:theme="@style/Theme.mnm_prefs">
		</activity>
		<activity android:name="NotameActivity"></activity>
		<provider android:name="com.dcg.provider.MeneameContentProvider"
			android:authorities="com.dcg.meneame" android:multiprocess="true" />
	</application>
</manifest> 
